<div>
    <?php
    ?>
    <hr>
    <form class="form-horizontal" novalidate role="form" method="post"
          action="<?= $this->url('app/default', array('controller' => 'auth', 'action' => 'login')); ?>">
        <div class="form-group <?= ($this->formElementErrors($form->get('login'))) ? 'has-error' : '' ?>">
            <?= $this->formLabel($form->get('login')); ?>
            <div class="col-lg-9">
                <?= $this->formElement($form->get('login')); ?>
            </div>
        </div>

        <div class="form-group <?= ($this->formElementErrors($form->get('password'))) ? 'has-error' : '' ?>">
            <?= $this->formLabel($form->get('password')); ?>
            <div class="col-lg-9">
                <?= $this->formElement($form->get('password')); ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-9">
                <?= $this->formElement($form->get('submit')); ?>
            </div>
        </div>
    </form>
    <hr>
</div>
