 
<?php if (isset($this->messages)): ?>
    <?php if ($this->messages->hasSuccessMessages()): ?>
        <?php foreach ($this->messages->getSuccessMessages() as $sMsg): ?>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?= $sMsg ?>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>


    <?php if ($this->messages->hasErrorMessages()): ?>
        <?php foreach ($this->messages->getErrorMessages() as $eMsg): ?>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?= $eMsg ?>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>


    <?php if ($this->messages->hasMessages()): ?>
        <?php foreach ($this->messages->getMessages() as $Msg): ?>
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?= $Msg ?>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>


    <?php if ($this->messages->hasInfoMessages()): ?>
        <?php foreach ($this->messages->getInfoMessages() as $iMsg): ?>
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?= $iMsg ?>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>

