<div class="page-header">
    <h1>Регистрация</h1>
</div>

<?php $form->prepare(); ?>

<form class="form" id="formRegisterEdit" novalidate role="form" method="post"
      action="<?= $this->url("app/default", array('controller' => 'user', 'action' => 'register')); ?>">


    <div class="row">
        <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-offset-1">
            <div class="form-group <?= ($this->formElementErrors($form->get('email'))) ? 'has-error' : '' ?>">

                <?= $this->formLabel($form->get('email')); ?>
                <?= $this->formElement($form->get('email')); ?>
            </div>
            <?php $errors = $form->get('email')->getMessages(); ?>
            <?php if ($errors) : ?>
                <div class="form-group">
                    <?php foreach ($errors as $error) : ?>
                        <div class="text-danger"><?= $this->translate($error) ?></div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-1 col-md-3">
            <?= $this->formElement($form->get('submit')); ?>
        </div>
    </div>
</form>
