<div class="page-header">
    <h1>Партнерка</h1>
</div>

<?php

$user = $this->identity();
$tariffDataArr = $tariffData->toArray();

?>
Ваша реферальная ссылка:

<input type="text" class="form-control" value="<?= $host . $this->url("app/referal",
    array('controller' => 'index', "action" => "index", "id" => $user->id)); ?>">

<br/>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>Уровень реферала</td>
        <td>Количество</td>
        <td>Заработано для вас кредитов</td>
        <td>Бонус в % от дохода</td>
        <td>Бонус в кредитах за привлечение</td>
    </tr>

    <?php for ($i = 1; $i <= 5; $i++) { ?>
        <tr>
            <td><?php echo $i; ?></td>
            <td>0</td>
            <td>0,00</td>
            <td><?php echo $this->escapeHtml($tariffDataArr['referal_percents'][$i]); ?></td>
            <td><?php echo $this->escapeHtml($tariffDataArr['referal_bonuses'][$i]); ?></td>
        </tr>
    <?php } ?>

    </tbody>
</table>