<?php $form->prepare(); ?>

<form class="form-horizontal" id="formSiteEdit" novalidate role="form" method="post"
      action="<?= $this->url("app/edit_delete",
          array('controller' => 'site', 'action' => 'edit', 'id' => $this->id)); ?>">

    <?= $this->formElement($form->get('id')); ?>

    <div class="form-group <?= ($this->formElementErrors($form->get('title'))) ? 'has-error' : '' ?>">
        <div class="col-md-offset-1 col-md-3">

            <?= $this->formLabel($form->get('title')); ?>
            <?= $this->formElement($form->get('title')); ?>
            <?php $errors = $form->get('title')->getMessages(); ?>
            <?php if ($errors) : ?>
                <?php foreach ($errors as $error) : ?>
                    <div class="text-danger"><?= $this->translate($error) ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>

    <div class="form-group <?= ($this->formElementErrors($form->get('url'))) ? 'has-error' : '' ?>">
        <div class="col-md-offset-1 col-md-3">
            <?= $this->formLabel($form->get('url')); ?>
            <?= $this->formElement($form->get('url')); ?>
            <?php if ($form->get('url')->getMessages()) : ?>
                <div class="text-danger">Значение является недопустимым URI.</div>
            <?php endif; ?>
        </div>
    </div>

    <div class="form-group <?= ($this->formElementErrors($form->get('time_to_show'))) ? 'has-error' : '' ?>">
        <div class="col-md-offset-1 col-md-3">

            <?= $this->formLabel($form->get('time_to_show')); ?>
            <?= $this->formElement($form->get('time_to_show')); ?>
            <?php $errors = $form->get('time_to_show')->getMessages(); ?>
            <?php if ($errors) : ?>
                <?php foreach ($errors as $error) : ?>
                    <div class="text-danger"><?= $this->translate($error) ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>

    <!--    <div class="form-group <? /*= ($this->formElementErrors($form->get('show_interval'))) ? 'has-error' : '' */ ?>">
        <div class="col-md-offset-1 col-md-3">

            <? /*= $this->formLabel($form->get('show_interval')); */ ?>
            <? /*= $this->formElement($form->get('show_interval')); */ ?>
            <?php /*$errors = $form->get('show_interval')->getMessages(); */ ?>
            <?php /*if ($errors) : */ ?>
                <?php /*foreach ($errors as $error) : */ ?>
                    <div class="text-danger"><? /*= $this->translate($error) */ ?></div>
                <?php /*endforeach; */ ?>
            <?php /*endif; */ ?>
        </div>
    </div>-->

    <div class="form-group  <?= ($this->formElementErrors($form->get('shows_per_hour'))) ? 'has-error' : '' ?>">
        <div class="col-md-offset-1 col-md-3">
            <?= $this->formLabel($form->get('shows_per_hour')); ?>
            <?= $this->formElement($form->get('shows_per_hour')); ?>
            <?php $errors = $form->get('shows_per_hour')->getMessages(); ?>
            <?php if ($errors) : ?>
                <?php foreach ($errors as $error) : ?>
                    <div class="text-danger"><?= $this->translate($error) ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>

    <div class="form-group  <?= ($this->formElementErrors($form->get('referers'))) ? 'has-error' : '' ?>">
        <div class="col-md-offset-1 col-md-3">
            <?= $this->formLabel($form->get('referers')); ?>
            <div>Адрес страницы, с которой был совершен переход на Ваш сайт. Каждый URL с новой строки (макс 80 шт)
            </div>
            <?= $this->formElement($form->get('referers')); ?>
            <?php $errors = $form->get('referers')->getMessages(); ?>
            <?php if ($errors) : ?>
                <?php foreach ($errors as $error) : ?>
                    <div class="text-danger"><?= $this->translate($error) ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>


    <div class="form-group  <?= ($this->formElementErrors($form->get('is_active'))) ? 'has-error' : '' ?>">
        <div class="col-md-offset-1 col-md-3">
            <?= $this->formLabel($form->get('is_active')); ?>
            <?= $this->formElement($form->get('is_active')); ?>
            <?php $errors = $form->get('is_active')->getMessages(); ?>
            <?php if ($errors) : ?>
                <?php foreach ($errors as $error) : ?>
                    <div class="text-danger"><?= $this->translate($error) ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>


    <div class="col-md-offset-1 col-md-3">
        <input type="submit" name="submit" class="btn btn-default" value="Сохранить">
    </div>
</form>
