<?php
$title = 'Список сайтов';
$this->headTitle($title);
$i = 0;
?>


    <div class="page-header">
        <h1>Список сайтов</h1>
    </div>


    <p>
        <a href="<?= $this->url("app/default", array('controller' => 'site', 'action' => 'add')); ?>">Добавить сайт</a>
    </p>

    <table class="table">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Ссылка</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($itemsList as $items) : ?>
            <tr>
                <td><?php echo ++$i; ?></td>
                <td><?php echo $this->escapeHtml($items->title); ?></td>
                <td><?php echo $this->escapeHtml($items->url); ?></td>
                <td>

                    <?php if ($items->is_active) : ?>
                        <span class="label label-success">в работе</span>
                    <?php else: ?>
                        <span class="label label-default">на паузе</span>
                    <?php endif; ?>


                </td>
                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            выполнить <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="<?= $this->url("app/edit_delete",
                                    array(
                                        'controller' => 'site',
                                        'action' => 'edit',
                                        'id' => $items->id
                                    )); ?>">Изменить</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="<?= $this->url("app/edit_delete", array(
                                    'controller' => 'site',
                                    'action' => 'delete',
                                    'id' => $items->id
                                )); ?>">Удалить</a>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>
        <?php endforeach; ?>
    </table>

<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->itemsList,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Album'),
    // the route to link to when a user clicks a control link
    array(
        'route' => "app/default",
        'route_params' => array('controller' => 'site', 'action' => 'list')
    )
);
?>