 
<?php
$user = $this->identity();
?>

<div class="page-header">
    <h1>Управление сайтами</h1>
</div>


<div id="userProfileInfo">
    <div class="callout callout-info">
        <?php echo $this->escapeHtml($user->name); ?>
    </div>
</div>

