<div class="jumbotron">
    <h1>EasySurf</h1>

    <p>Заработайте с нами!</p>

    <p><a class="btn btn-danger btn-lg"
          href="<?= $this->url("app/default", array('controller' => 'user', 'action' => 'register')); ?>">НАЧАТЬ РАБОТУ
            БЕСПЛАТНО &raquo;</a></p>

    <p><a class="btn btn-primary btn-lg" href="<?= $this->url("auth/default",
            array('controller' => 'index', 'action' => 'login')); ?>">Вход &raquo;</a></p>
</div>




