body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

/* -------------------------------------------------------------------------- */
/* colors */
/* -------------------------------------------------------------------------- */

.green-ok {
    color: #68b703;
}

/* -------------------------------------------------------------------------- */

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.jumbotron {
    background-color: #fff;
    color: #333;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #ddd;

}

/* Навигация */
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    letter-spacing: .5px;
}

.navbar-inverse {
    /*    background-color: #3686BE;
        border-color: #3686BE;*/
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #666;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: 600;

}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: none;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #666;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #37c9f7;
    /*background-color: #0896B9;*/
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #666;
}

/* -------------------------------------------------------------------------- */

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;

}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

}

.ui-menu-item > a.ui-corner-all:hover,
.ui-menu-item > a.ui-corner-all:focus {

    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;

}

/* -------------------------------------------------------------------------- */
/* Alerts */
/* -------------------------------------------------------------------------- */

#statusMessagesContainer {
    position: relative;
}

#statusMessages {
    max-width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

/* -------------------------------------------------------------------------- */
/* Top clock */
/* -------------------------------------------------------------------------- */

#clocknow {

    font-size: 36px;
    color: #272E38;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #ffffff;

}

#datenow {

    font-size: 16px;
    letter-spacing: .5px;
    color: #666;
    font-weight: normal;
    /*color: #ffffff;*/

}

/* -------------------------------------------------------------------------- */
/* callout fir user profile */
/* -------------------------------------------------------------------------- */

#userProfileInfo {

    color: #259EDB;
}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #EEE;
}

.callout-info {
    background-color: #F3F5F6;
    border-color: #4EBBDB;
}

.callout-new-events {

    border-color: #4EBBDB;
}

.line {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #BBB;
    background-image: none;
    display: block;
}

/* -------------------------------------------------------------------------- */
/* dashboard-panel */
/* -------------------------------------------------------------------------- */
.dashboard-panel {

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    min-width: 150px;
    margin: 10px;

}

.dashboard-panel .inner {
    display: inline-block;

}

.dashboard-panel .header {
    font-size: 16px;
    margin-left: -2px;
    padding: 2px 26px 2px 10px;
    color: #666;
    border-left: 2px #ccc solid;
    background: #f0f0f0
}

.dashboard-panel .header a {
    color: #666;
}

.dashboard-panel .section {
    font-size: 33px;
    font-weight: 700;
    padding: 5px 10px 10px 26px;
    color: #63BDC7;

}

/* -------------------------------------------------------------------------- */
/* Badge */
/* -------------------------------------------------------------------------- */

.badge-new {
    background-color: #FFF;
    border-color: #F00;
    color: #F00;
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* New Event */
/* -------------------------------------------------------------------------- */

.new-event-box {

    margin: 20px 0;
    padding: 5px 10px;
    border-left: 3px solid #EEE;
    border-color: #4EBBDB;

}

.new-event-box .new-event-text {

    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    display: inline;
}

/* -------------------------------------------------------------------------- */
